{% extends "layout.html.twig" %}

{% block title %}Profile de {{user.firstname}}{{user.name}}{% endblock %}

{% block content %}
    <h1>Profil de {{user.firstname}}{{user.name}}</h1>
    <p>
    Email: {{user.email}}
    </p>
    <p>
    Login: {{user.username}}
    </p>
{% endblock %}